.container {
  display: flex;
  height: 100vh;
  width: 100%;
  background: #0a0f1c;
  color: #fff;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}

.sidebar {
  width: 240px;
  background: linear-gradient(180deg, #0a192f, #1f2937);
  padding: 25px 20px;
  box-shadow: 2px 0 12px rgba(0, 0, 0, 0.4);
}

/* logo */
.logo {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  background: black;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

/* profile */
.profile {
  text-align: center;
  margin-bottom: 2rem;
}

.avatar {
  position: relative;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 12px;
}

.avatar::before {
  content: "";
  position: absolute;
  inset: 4px;
  background: white;
  border-radius: 50%;
}

.avatarImage {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: contain;
}

.company {
  font-weight: bold;
}

.id {
  font-size: 0.8rem;
  color:black;
}
